/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


html, body {
	min-height: 100vh;
}

body {
	background: #323a4c;
	font-family: 'Source Sans Pro', sans-serif;

	line-height: 1.4;
	display: flex;
	/*width*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background 0.2s ease-out;
}

body.alarm {
	transition: background 0.2s ease-out;
	background: #EF5350;
	animation: alarm 0.4s cubic-bezier(0.4, 0.0, 0.2, 1) infinite alternate;
}

@keyframes alarm {
    from {background-color: #EF5350;}
    to {background-color: #EF9A9A;}
}


p {
	margin-bottom: 1em;
}
/* layout */
.main-container {
	display: inline-block;
	margin: 3rem auto;
	flex: 0 1 auto;
	/*width: 100%;*/
}

/* looks */
.main-container {
	background: white;
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20), 0px 4px 17px 4px rgba(0,0,0,0.2);
}

.flex-bar {
	padding: 1rem 30px;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-bar .right {
	flex: 1;
	text-align: right;
	margin-left: auto
}
.flex-bar .button {
	margin-bottom: 0;
}
.brand > * {
	display: inline;
	vertical-align: middle;
}
.logo {
	height: 64px;
}
.logo-name {
	font-size: 3rem;
	margin-left: 1rem;
}


.grid-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.grid-row.inline {
	display: inline-flex;
}

.grid-cell {
	flex: 0 1 300px;
	box-sizing: border-box;
}



@media screen and (min-width: 980px) {
	.grid-cell {
		flex: 0 1 auto;
	}
	.room+.room{
	border-left: 1px solid #ccc;
	}
}

.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}

.room {
	text-align: center;
	padding: 1.5rem;
	border-bottom: 1px solid #ccc;
}

.room--name {
	margin-bottom: 12px;
}

.room:not(:last-child) {
	
	
}

.room--name {
	text-align: center;
	font-size: 2rem;
}
.room--status {
	font-size: 2.5rem;
	
	margin-bottom: 1rem;
	transition: all 0.1s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

.room--status.enabled {
	color: #32D187;
}
.room--status.disabled {
	color: #FFA726;
}

.room--status.alarm {
	color: #EF5350;
}
.room--status.error {
	color: #EF5350;
}


.room--alarm-scheduler {
	padding-top: 1rem;
	border-top: 1px solid #eee;
}
.room--alarm-scheduler .scheduled-time {
	font-family: 'Fira Mono';
	/*font-size: 1.5rem;*/
	margin-right: 1rem;
}

.room--alarm-scheduler .button {
	/*padding: 0 1rem;*/
	padding: 0;
	width: 4rem;
	height: 4rem;
}


.onoffswitch {
	text-align: left;
	display: inline-block;
    position: relative; 
    width: 64px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none !important;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #32D187; border-radius: 20px;
    background: #eee;
    height: 30px;
    white-space: nowrap;
}
.onoffswitch-inner {
    display: inline-block; 
    /*width: 200%; */
    transition: all 0.1s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;

}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	margin-top: 1px;
	display: inline-block;
	width: 70px;
	font-size: 1.25rem;
}


.onoffswitch-inner {
	display: inline-block; width: 22px; height: 22px;
	margin: 4px;
	/*background: #EF5350;*/
	background: #FFA726;

	border-radius: 20px;
}
.onoffswitch-inner:before {
    /*content: "ENABLED";*/
    content: '';
	margin-left: -64px;
    /*background-color: #EEEEEE; */
    color: #323A4C;
}
.onoffswitch-inner:after {
    /*content: "DISABLED";*/
    content: '';
    margin-left: 24px;
    /*background-color: #EEEEEE; */
    color: #999999;
}
.onoffswitch-switch {
    display: block; width: 18px; height: 18px; margin: 6px;
    /*background: #EF5350;*/
    background: #FFA726;
    position: absolute; top: 0; bottom: 0;
    transform: initial;
    
    transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s; 
}
.onoffswitch-checkbox + .onoffswitch-label {
	transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s; 
	/*border: 2px solid #EF5350;*/
	border: 1px solid #ccc;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	border: 1px solid #32D187;

}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	background: #32D187;
	transform: translateX(32px);
}

.system-time-module {
	font-size: 2rem;
	align-items: center;
	justify-content: flex-end;
}

.system-time-module > div+div {
	margin-left: 1rem;
}

.system-time-module .button {
	margin-bottom: 0;
}

button.button {
	font-family: 'Cabin', sans-serif;
 	font-weight: 300;	
}

button.button[disabled], button.button:disabled {
	pointer-events: none;
	color: #ddd;
	border-color: #ddd;
}

.room--alarm-scheduler .separator {
	display: inline-block;
	margin: 0 4px;
}

.timer-component .incs > a {
	background: #eee;
	width: 1em;
	height: 1em;
	border: 1px solid #bbb;
	border-radius: 2px;
	line-height: 100%;
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	text-align: center;
	transition: opacity 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);

}

.timer-component-parent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.timer-compontent-parent  .change-schedule {
	margin-bottom: 0;
	margin-left: 1rem;
}


.change-schedule {
	width: 38px;
	height: 38px;
	padding: 0;
	margin-bottom: 0;
	margin-left: 1em;
	transition: all 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
	
}
#set-system-time {
	margin-left: 1em;
}

.change-schedule.set, #set-system-time.set {
	background: #32D187;
	color: white;
}
.timer-component .time {
	font-family: 'Fira Mono';
}
.timer-component .incs {
	transition: opacity 0.1s cubic-bezier(0.4, 0.0, 0.2, 1) 0, visibility 0s cubic-bezier(0.4, 0.0, 0.2, 1) 0.1s;
	visibility: hidden;
	opacity: 0;
}
.timer-component .incs.show {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.timer-component .incs > a+a {
	margin-left: 0.5em;
}

.timer-component .incs > *::before {
	font-family: 'sans-serif';
	color: #555;
	line-height: 1em;
	font-size: 0.7em;
	text-align: center;
	display: inline-block;
}
.timer-component .incs.up > *::before {
	content: '\25B2';
}

.timer-component .incs.down > *::before {
	/*margin-top: 0.1em;*/
	content: '\25BC';
}

.all-button {
	width: 160px;
}

.all-button+.all-button {
	margin-left: 12px;
}

#enable-all-button {
background: #32D187;
color: white;
}

#disable-all-button {
background: #FFA726;
color: white;
}

#hush-all-button {

}